@tailwind base;
@tailwind components;
@tailwind utilities;


.translate-z-0 {
  transform: translateZ(0px);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  position: relative !important;
  bottom: -5rem !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
  margin-top: 4rem;
  position: relative;
  bottom: 3rem;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply bg-secondary overflow-hidden leading-relaxed;
  }
  .page {
    @apply w-full h-screen overflow-hidden;
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply leading-[1.8] text-white/60 font-light;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .blog-h1 {
    @apply text-[15px] lg:text-[30px] font-semibold;
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
  .bg-cover-site{
    background-size: cover;
  }
  .circular-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .pt-20 {
      padding-top: 8rem !important;
    }
  .circular-child {
    position: absolute;
    font-size: 16px;
    transform: translate(-50%, -50%);
  }
  .custom-scroll {
    max-height: 100%; /* Adjust the height as needed */
    overflow-y: auto;
    scrollbar-width: none; /* Hide Firefox scrollbar */
    -ms-overflow-style: none; /* Hide IE scrollbar */
  }
  
  .custom-scroll::-webkit-scrollbar {
    width: 0; /* Hide Chrome, Safari, and Opera scrollbar */
  }
  .ql-editor, .ql-editor p, .ql-editor span {
    color: black !important; /* Force text color to black */
}

  
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content{
    height: 100%;
    overflow-y: scroll;
    
  }
  .content::-webkit-scrollbar {
    display: none;
}}
.react-quill-editor p{
  color: #000 !important;
}